<table border="1">
    <th>no.</th>
    <th>data</th>
    <% for(var i = 0 ; i < data.length ;i++){ %>
        <tr>
            <td>
                <%=data[i].r_id%>
            </td>
            <td>
                <%=data[i].r_data%>
            </td>
        </tr>
        <% } %>
</table>
<a href="../">back..</a>